.App {
  text-align: center;
  height: 100%;
}

.app-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
